* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.wrapper {
    background: #fff;
    width: 400px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.head__left-avt {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.head__left-avt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head__left-info {
}

.head__left-name {
    font-weight: 700;
}

.head__left-time {
    font-size: 14px;
    color: #ccc;
}

.head__right {
}

.body {
    margin: 12px 0;
}

.img {
}
