* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background: #eee;
    padding: 12px 0px;
    border-radius: 12px;
    list-style-type: none;
}

.item {
    padding: 4px 12px;
}

.item:hover {
    cursor: pointer;
    background: #ccc;
}
